        @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&family=Open+Sans&family=Yellowtail&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Asar&display=swap');
        * {
            box-sizing: border-box;
        }
        
        body {
            margin-left: 0px;
            text-align: justify;
            width: 85%;
        }
        
        header {
            display: inline-block;
        }
        
        .logo,
        .logoTxt,
        .media,
        .mailes {
            margin: 30px 0px;
            float: left;
        }
        
        .mailes {
            margin-left: 20px;
        }
        
        .media {
            margin-left: 42.59em;
        }
        
        .mailes,
        .media {
            margin-top: 40px;
        }
        
        hr {
            clear: both;
            margin-left: 0px;
        }
        
        .hr-img {
            background-image: url('../img/hr-pic.png');
            border-top: 0px none;
            height: 16px;
        }
        
        main {
            clear: both;
        }
        
        .MainTxt,
        .print {
            margin: 30px 0px;
            float: left;
        }
        
        .PizzaBody {
            clear: both;
            margin-left: 0px;
            margin-bottom: 30px;
        }
        
        .PizzaBody img {
            margin-bottom: 30px;
        }
        
        .print {
            margin-left: 53.5em;
            margin-top: 65px;
            color: rgba(0, 0, 0, 0.466);
        }
        
        article p {
            color: rgba(0, 0, 0, 0.678);
            line-height: normal;
            text-indent: 2%;
        }
        
        .Form {
            clear: both;
            display: inline-block;
            margin-bottom: 30px;
            font-family: 'Patrick Hand', cursive;
            color: rgb(65, 55, 1);
        }
        
        form {
            margin: 30px 90px;
            float: left;
        }
        
        #right {
            margin-left: 50%;
        }
        
        #left,
        #right {
            margin: 5% 6%;
        }
        
        footer {
            clear: both;
            display: inline-block;
        }
        
        .Footer1 img,
        .Footer1 p,
        .Footer1 h2,
        .button {
            margin: 30px 0px;
            float: left;
        }
        
        .Footer1 p,
        .Footer1 h2 {
            font-family: 'Asar', serif !important;
            color: rgba(0, 0, 0, 0.808);
            margin-top: 2em;
        }
        
        .footerTXT {
            color: rgba(0, 0, 0, 0.712);
        }
        
        .DTxt {
            font-family: 'Yellowtail', cursive;
            font-size: 2em;
        }
        
        .DDesc {
            font-family: 'Karma', serif;
            font-family: 'Open Sans', sans-serif;
            color: rgba(0, 0, 0, 0.644);
            font-size: 0.67em;
        }
        
        .h1Desc,
        .print {
            font-family: 'Open Sans Condensed', sans-serif;
            color: rgba(0, 0, 0, 0.466);
            font-size: 1em;
            font-weight: bold;
        }
        
        h1 {
            font-family: 'Archivo Narrow', sans-serif !important;
            font-size: 2.5em !important;
            font-weight: bolder !important;
        }
        
        .button {
            font-family: 'Open Sans Condensed', sans-serif;
            margin-top: -90px;
            background-color: rgb(212, 101, 68);
            color: white;
            padding: 15px 30px;
            margin-left: 63em;
        }
        
        .Footer2 {
            clear: both;
            text-align: center;
        }
        
        .fork-txt {
            margin: 2em;
            color: rgba(0, 0, 0, 0.466);
        }
        
        .fork-hr {
            width: 46.9%;
            display: inline-block;
            border-color: rgba(255, 255, 255, 0.507);
            font-family: 'Asar', serif !important;
        }